.center {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置容器高度为视口高度 */
    text-align: center;
    flex-direction: column;
}

pre {
    color: white;
}

body {
    background-color: black;
}

p {
    color: white;
}
